.menu {
  cursor: pointer;
}

#globalnav {
  width:260px;
  right: 16px;
  padding: 3rem;
}

#profile .item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

#profile .item h3.head {
  width: 40%;
}

#profile .item ul.detail {
  width: 60%;
}

article.gallery ul li {
  width: calc(25% - 1px);
}

.member_wrapper a {
  width: 250px;
}

.member_wrapper a:hover {
  /* スクロールできるよ */
}

.big_photo {
  max-width: 600px;
  margin: auto;
  padding-bottom: 1rem;
}